<div class="navbar">
    <p-toolbar class="nav-menu"
        styleClass="bg-gray-900" 
        [style]="{  }">
            <img class="logo" src="logo.svg"/>

            <p-menubar class="hidden-menubar"
                [model]="barmenus"  >
            </p-menubar>
            <div class="flex-right align-items-right gap-2">
                <div class="banner top-right">
                    <span>We are proud to be from:</span>
                    <!-- <span class="fi fi-bf fis"></span> -->
                    <!-- <img src="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/flags/4x3/bf.svg" alt="Français" /> -->
                </div>
                <ng-template ngFor let-item [ngForOf]="contacts" let-i="index" class="contact-us">
                    <p-button 
                          label={{item.value}} [link]="true" />
                </ng-template>
                <ng-template pTemplate="mobile-active">

                </ng-template>
            </div>
    </p-toolbar>

</div>