.logo-bar{

}

.logo{
    max-height: 70px;
}
.contact-wrapper{
    margin-block-start: -5%;
}
.contact{
    display: inline-grid;  
    grid-template-rows: [full-span] 0px [contact-type] 8px [contact-icon] 18px [contact-value] ;
    /* grid-template-columns: [icon] 5px [content] 4px; */
    margin-left: 65px;
}
.contact > .contact-icon{
    grid-row: contact-icon;
    grid-column: icon;
    margin-left: -40px;
}
.contact > .contact-type{
    grid-row: contact-type;
}
.contact > .contact-value{
    grid-row: contact-value;
}
.contact > .icon{
    grid-column: icon;
}
.contact > .content{
    grid-column: content;
}
.contact-icon{
    font-size: 35px;
    font-weight: 300;
}
.contact-type{
    
}
.contact-value{

}

.menu-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #001559;
    height: 50px;
    margin-bottom: auto;
}
.left-fill{
    background-color: #001559;
}
.card.menus{
    background-color: #eab308;
    height: 100%;

    transform:skewX(25deg);
    width: 100%;
    margin-right: auto;

/*     -webkit-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    transform-origin:top-left;

    -webkit-transform:skewX(30deg);
    -ms-transform:skewX(30deg);
    transform:skewX(-25deg); */
}


:host ::ng-deep .p-menubar{
    align-items: center;
    padding: 0rem;
    background-color: #eab308;
    color: #0229ac;
    float: right;
    height: 100%;
    margin-left: 30px;
    width: 80%;
    transform:skewX(-25deg);
    border-color: #eab308;

  }