    <div class="content">
        
        <div class="partners">
                <div class="partner-wrapper">
                    <!-- <article class="card-partner" *ngFor="let item of partners">
                        <div class="img-wrapper">
                            <img src={{item.imageSrc}} alt="" class="img-partner">
                        </div>
                        <div class="info-wrapper">
                            <span class="name">
                                {{item.name}}
                            </span>
                            <span class="caption">
    
                            </span>
                            <p class="dsecription">{{item.describe}}</p>
                        </div>
                    </article> -->
                    <article class="card" *ngFor="let item of partners">
                        <div class="temporary_text">
                            <img src={{item.imageSrc}} alt="" class="img-partner">
                        </div>
                    <div class="card_content">
                        <span class="card_title">
                            {{item.name}}
                        </span>
                            <span class="card_subtitle">{{item.caption}}</span>
                            <p class="card_description">{{item.describe}}</p>
                        
                    </div>
                    </article>

                </div>

        </div>

    </div>
