<div class="page-title">
    <br>
    <br>
    <br>
    <br>
    <span class="title">Partners</span>
</div>

<div class="page-wrapper">
    <div class="page-content">
        
        <div class="partners">
            <ng-template ngFor let-item [ngForOf]="partners" let-i="index" class="partners-wrapper">
                <div class="carret">
                    <div class="partner-card">
                        <img src={{item.imageSrc}} alt="" class="partner-img">
                            <div class="service-name">
                                <h2 class="centered name">{{item.name}}</h2>
                            </div>
                    </div>
                </div>
            </ng-template>
        </div>

    </div>
</div>    