<div class="page-title">
    <br>
    <br>
    <br>
    <br>
    <span class="title">Our Services</span>
</div>
<div class="page-wrapper">
    <div class="page-content">
        <ng-template ngFor let-item [ngForOf]="addings" class="adding"> 
            <div class={{item.class}}>
                <ng-template ngFor let-block [ngForOf]="item.blocks" class="adding-block">
                    <div class={{block.class}}  *ngIf="block.text; else elseBlock" >
                        <h2 class="services block-title">{{block.title}}</h2>
                        <div class="block-text-wrapper">
                            <ng-template ngFor let-p [ngForOf]="block.paragraphs">
                                <p class="p-text">{{p.text}}</p>
                            </ng-template>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        <div class={{block.class}}>
                            <img class={{block.imageClass}} src={{block.imageSrc}} alt="">
                            <span class="catch-phrase">{{block.phrase}}</span>
                        </div>
                    </ng-template>
                </ng-template>

            </div>
            <br>
        </ng-template>
    </div>


</div>