.content{
    display: grid;
    width: 100%;
}
.wrapper{
    margin-top: -20vh;
}
.page-nav{
    margin-top: 20vh!important;
    .nav-ul{
        width: 4vw!important;
    }
}
.page-content{
    background-color: #fff;
    .page-title{
        font-size: x-large;
        font-weight:bolder;
        color: #eab308;
        margin-left: 4vh;
    }

    .company-slogan{
        font-size: 60px;
        font-weight: bolder;
        line-height: 1;
    }
    .about-wrapper{
        background-color: #fff;
        display: grid;
        grid-template-columns: [full-width-start] 2vw [breackout-start] 4vw  [content-start] 1fr [content-end] 4vw [breackout-end] 2vw [full-with-end];
    }
    .about-wrapper > :not(.full-width, .breackout){
        grid-column: content;
    }
    .about-wrapper > .breackout {
        grid-column: breackout;
    }
    .about-wrapper > .full-width {
        grid-column: full-width;
    }
}
.paragraph{
    font-size: larger;
    line-height: 2rem;
}
.quote-wrapper{
    margin: 0 0 30px 30px;
    border-left: 4px solid #eab308;
    padding: 0 0 0 15px;
    .quote{
        font-size: larger;
        line-height: 2rem;
        display: block;
    }
}
.content-addings{
    .cards{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .card-wrapper{
            display: grid;
            width: 100%;
            .service-card{
                width: 18vw;
                height: 15vh;
                background: #001559;
                position: relative;
                display: flex;
                place-content: center;
                place-items: center;
                overflow: hidden;
                border-radius: 20px;
                .service-name{
                    z-index: 1;
                    color: white;
                    align-content: center;
                }
            }
            .service-card::before {
                content: '';
                position: absolute;
                width: 18vw;
                background-image: linear-gradient(180deg, #eab308, #eab308);
                height: 15vh;
                animation: rotBGimg 3s linear infinite;
                transition: all 0.8s linear;
            }

              
            .service-card::after {
                content: '';
                position: absolute;
                background: #001559;
                inset: 5px;
                border-radius: 15px;
              }  
              
        }
    }

    .partners{
        display: grid;
        width: 100%;   
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        .border-circle{
            border-radius: 50% !important;
            width: 4rem;
            height: 4rem;
            color: #fff !important;
            background-color: #eab308 !important;
        }
    } 

}
@keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}
:host ::ng-deep .p-chip{
    min-width: 10vw;
    max-width: 12vw;
    min-height: 10vh;
    max-height: 12vh;
}
.catch-phrase{
    margin-top: -10vh;
    font-size: 2rem;
    margin-bottom: auto;
    color: #001559;
    margin-left: auto;
    margin-right: auto;
} 

