    <div class="page-content-full">
        <div class="slides">
            <p-carousel 
            [value]="slides" 
            [numVisible]="1" 
            [numScroll]="1" 
            [circular]="true" 
            autoplayInterval="3000" >
    
            <ng-template class="test" let-slide pTemplate="item">
                <img class="slide-img" src={{slide.src}} alt={{slide.name}}>
            </ng-template>
    
            </p-carousel>
            <span class="catch-phrase">
                <h2>Unlocking the <br>maximum of <br>your project <br>potential !</h2>
            </span>

            <span class="gold">
                <img src="gold.png" alt="" class="gold-img">
            </span>
            <section class="top-viewed">
                <ng-template ngFor let-item [ngForOf]="cards" let-i="index" >
                        <div class="top-card">
                            <a href={{item.url}} class="tcard">
                                <h2 class="card-title">{{item.name}}</h2>
                                <h2 class="card-subtext">{{item.description}}</h2>
                            </a>
                        </div>
                    
                </ng-template>
            </section>
        </div>
        <section class="fleet-location">
            <div class="fleet-text">
                <h2 class="fleet-title">We offer some machinery for mining projects !</h2>
                <h4 class="quote">You need any support for surface mining operations ? <br> Any need in mining equipments ? 
                    We can provide what you need. <br> <br> UMG is lending a part of its mining fleet, with or without experts to support you. <br> 
                    Just contact-us and get access to the best pieces of equipments <br>you can possibly find for all your surface mining projects, <br>
                    to rent out our machines and get great support with our experts !
                </h4>
                <div class="service-button">
                    <p-button class="primary" label="Ask for a quote" />
                </div>
                <br>
            </div>
            <div class="fleet-carousel">
                <div class="c-wrapper">
                    <app-fleet></app-fleet>
                </div>
            </div>
        </section>
        <br>


        <div class="services-wrapper">
            <section class="services">
            
                <ng-template  ngFor let-item [ngForOf]="services" let-i="index" class="services-wrapper">
                    <section (click)="navigateTo(item.url)" class="click-wrapper">
                        <div class="service-card">
                            <img src={{item.imageSrc}} alt="" class="service-img">
                            <div class="service-name">
                                <h2 class="sname">{{item.name}}</h2>
                            </div>
                        </div>
                    </section>
                </ng-template>
                
            </section>

            <!-- <div class="service-button">
                <p-button class="primary" label="Our Services >" />
            </div> -->
        </div>
        <br>

        <div class="add-wrapper">
            <ng-template ngFor let-item [ngForOf]="addings" class="adding"> 
                <div class={{item.class}}>
                    <ng-template ngFor let-block [ngForOf]="item.blocks" class="adding-block">
                        <div class={{block.class}}  *ngIf="block.text; else elseBlock" >
                            <h2 class="block-title">{{block.title}}</h2>
                            <div class="block-text-wrapper">
                                <ng-template ngFor let-p [ngForOf]="block.paragraphs">
                                    <p class="p-text">{{p.text}}</p>
                                </ng-template>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            <div class={{block.class}}>
                                <img class={{block.imageClass}} src={{block.imageSrc}} alt="">
                            </div>
                            
                        </ng-template>
                    </ng-template>

                </div>
            </ng-template>

        </div>

    </div>
<br>