.slides{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:0;
    padding:0;
}
:host ::ng-deep .p-carousel-content{
    display: contents;
    width: 100vw;
}
:host ::ng-deep .p-carousel-container{
    display: contents;
    width: 100vw;
}
:host ::ng-deep .p-carousel-prev{
    display: none;
}
:host ::ng-deep .p-carousel-next{
    display: none;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background-color: #eab308;
}
.slide-img{
   width: 100%; 
   height: 88vh;
}
.catch-phrase {
    position: absolute;
    font-size: 3vw;
    /* color: #001559; */
    color:#fff;
    margin-left: 3vw;
    text-align: baseline;
}
.gold{
    position: absolute;
    margin-left: 80vw;
    margin-top: 30vh;
}
.gold-img{
    width: 8vw;
}
.top-viewed{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 55vh;
    margin-bottom: 5vh!important;
}
.top-card{
    background-color: #001559;
    /* background-color: #eab308; */
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 24vh;
    text-align: center;
}
.card-title{
    color: #fff;
    font-size: 1.2vw;
    margin-top: 6vh;
}
.card-subtext{
    color: #fff;
    font-size: 2vw;
    margin-top: 4vh;
}
.fleet-location{
    background-color: #001559;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-height: 60vh;
    min-height: 50vh;
}
.fleet-text{
    display: grid;
    grid-template-rows:  1fr ;
}
.fleet-title{
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5vw; 
    color: #fff;
}
.quote{
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-size: 1.4vw;
    text-align: center;
}
.fleet-carousel{
    margin-top: auto;
    margin-bottom: auto;
    width: 30vw;
}
:host ::ng-deep .p-button{
    background: #eab308;
    border: 4px solid #001559;
    padding: 15px;    
}
.services-header{
    margin-left: auto;
    margin-right: auto;
}
.services-wrapper{
    display: grid;
    grid-template-rows: auto;
    margin-top: 2vh;
}
.services{
    display: flex;
    width: 100%;
    .wrapper{
        display: grid;
        width: 100%;
        .service-card{
            width: 28vw;
            margin-left: auto;
            margin-right: auto;
            border: 3px solid #eab308;
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: #001559;
            padding: 10px;
            border-radius: 6px;
            gap: 0.5rem;
            height: max-content;
        }
    }
    .service-card:hover{
        opacity: 0.9;
    }
    .service-img{
        height: 44vh;
        width: 100%;
        border: 1px solid #fff;
    }
    .service-name{
        height: 8vh;
        background-color: #001559;
        align-items: center;
        align-content: center;
        grid-template-columns: auto [content] auto;
        display: grid;
        .sname{
            color: #eab308;
            grid-column: content;
        }
    }      
}
.service-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 2vh;
}