.slides{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin:0;
    padding:0;
}
:host ::ng-deep .p-carousel-content{
    display: contents;
    width: 100vw;
}
:host ::ng-deep .p-carousel-container{
    display: contents;
    width: 100vw;
}
:host ::ng-deep .p-carousel-prev{
    display: none;
}
:host ::ng-deep .p-carousel-next{
    display: none;
}
:host ::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background-color: #eab308;
}
.slide-img{
   width: 100%; 
   min-height: 60vh;
   max-height: 80vh;
}
.catch-phrase {
    position: absolute;
    font-size: 2.5vw;
    color:#fff;
    margin-left: 3vw;
    text-align: baseline;
}
.gold{
    position: absolute;
    margin-left: 80vw;
    margin-top: 40vh;
}
.gold-img{
    width: 8vw;
}
.top-viewed{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-top: 40vh;
    margin-bottom: 2vh;
}
.top-card{
    background-color: #001559;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    margin-top: 8vh;
    min-height: 20vh;
    max-height: 22vh;
    text-align: center;
}
.card-title{
    color: #fff;
    font-size: 1.2vw;
    margin-top: 4vh;
}
.card-subtext{
    color: #fff;
    font-size: 2vw;
    margin-top: 4vh;
}
.fleet-location{
    background-color: #001559;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-height: max-content;
    min-height: min-content;
}
.fleet-text{
    display: grid;
    grid-template-rows:  auto ;
}
.fleet-title{
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5vw; 
    color: #fff;
}
.quote{
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-size: 1.4vw;
    text-align: center;
}
.fleet-carousel{
    width: 100%;
    display: grid;
    height: 90%;
    .c-wrapper{
      width: 98%;
      display: block;
      height: 100%;
      margin-top: 2vh;
      margin-right: 4vh;  
    }
}
:host ::ng-deep .p-button{
    background: #eab308;
    border: 4px solid #001559;
    padding: 15px;    
}
.services-header{
    margin-left: auto;
    margin-right: auto;
}
.services-wrapper{
    .services{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        .click-wrapper{
            width: 100%;
            .service-card{
                width: 28vw;
                margin-left: auto;
                margin-right: auto;
                border: 3px solid #eab308;
                position: relative;
                display: flex;
                flex-direction: column;
                background-color: #001559;
                padding: 10px;
                border-radius: 6px;
                gap: 0.5rem;
                height: max-content;
            }
        }
        .service-card:hover{
            opacity: 0.9;
        }
        .service-img{
            height: 44vh;
            width: 100%;
            border: 1px solid #fff;
        }
        .service-name{
            height: 8vh;
            background-color: #001559;
            align-items: center;
            align-content: center;
            grid-template-columns: auto [content] auto;
            display: grid;
            .sname{
                color: #eab308;
                grid-column: content;
            }
        }      
    }
}

.service-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

@media screen and (max-width: 1560px) {
    .slide-img{
        width: 100%; 
        min-height: 60vh;
        max-height: 70vh;
    }
    .top-viewed{
        margin-top: 40vh;
        margin-bottom: 5vh;
    }
    .top-card{
        min-width: 15vw;
        max-width: 28vw;
        max-height: 18vh;
        min-height: 14vh;
    }
    .card-title{
        font-size: 1.2vw;
        margin-top: 2vh;
    }
    .card-subtext{
        font-size: 1.6vw;
        margin-top: 2vh;
    }
    .app-fleet{
        height: 120%;
    }
}
@media screen and ( max-width: 986px ) {
    .slide-img{
        min-height: 40vh;
        max-height: 50vh;
    }
    .catch-phrase {
        font-size: 3.5vw;
    }
    .top-card{
        max-height: 10vh;
        min-height: 8vh;
        margin-top: -5vh;
    }
    .card-title{
        font-size: 1.5vw;
        margin-top: 2vh;
    }
    .card-subtext{
        font-size: 2vw;
        margin-top: 2vh;
    }
    .fleet-title{
        font-size: 2.8vw; 
    }
    .quote{
        font-size: 2vw;
    }
    .services{
        .service-img{
            height: 22vh;
        }
        .service-name{
            height: 8vh;
        }  
    }
}
@media screen and (max-width: 516px) {
    .top-viewed{
        margin-top: 30vh;
        margin-bottom: 5vh;
    }
    .top-card{
        width: 32vw;
        min-height: 10vh;
        max-height: 15vh;
    }
    .card-title{
        font-size: 2vw;
        margin-top: 2vh;
    }
    .card-subtext{
        font-size: 2.8vw;
    }
    .fleet-title{
        font-size: 3vw; 
    }
    .quote{
        font-size: 2.4vw;
    }
    .services-wrapper{
        .services{
            grid-template-columns: 1fr;
            .click-wrapper{
                .service-card{
                    width: 80vw;
                    margin-bottom: 2vh;
                }
                .service-img{
                    height: 30vh;
                }
                .service-name{
                    height: 8vh;
                } 
            }
        }
    }
}